@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Work+Sans:wght@400;500&family=Outfit:wght@500&display=swap');
.best-deal-section{
    padding-top: 60px;
    padding-bottom: 50px;
}
.img-div{
    height:190px;
}

.deal-card{
    width: 1px;
    padding-left: 15px;
    margin-top:40px;
    border-radius: 15px;
}
.card-img{
    width:140px; 
    height: 190px; 
    border-radius: 9px;

}
.heart-div{
    position: relative;
    bottom:160px;
    left:120px;
    padding: 5px;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.heart-icon{
    right:30px;
    font-size: 23px;
}
.price-div{
    display:flex;
    font-family: Work sans;
    margin-left:9px;
}
.deal-title{
    font-family: Work sans;
    margin-left: 20px;
    font-weight: bolder;
}
.product-name-one{
    font-family:Work sans;
    font-size: 12px;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.product-name-two{
    font-family:Work sans;
    font-size: 17px; 
}
.dollar{
    font-size: 14px;
}
.price{
    font-size:18px;
    font-weight: bold;
}
.specifications-one{
    font-family: Work sans;
    font-weight: lighter;
    padding-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.specifications-two{
    font-family: Work sans;
    font-weight: lighter;
    padding-top: 10px;
}
.ratings-div{
    display: flex;
    justify-content: space-between;
    width:130px;
    padding-top: 10px;
}
.star-icon{
    color:green;
    font-size: 20px;
}
.rating{
    font-family: Work sans;
    font-size: 14px;
}
.cart-btn{
    position: relative;
    top:30px;
    border: 2px solid black;
    font-family: Work sans;
    border-radius: 25px;
    font-weight:500;
    background:white;
    width:115px;
    height:45px;
    font-size:15px;
}
.deal-detail{
    padding-top: 20px;
    height:150px;
    max-height:250px;
}
.swiper{
    height:450px;
}
.spinner-div{
    width:100%;
    display:flex;
    justify-content: center;
    align-self: center;
}
@media screen and (max-width:500px){
    .cards-div{
        display: grid;
        grid-template-columns: auto auto;
        grid-row-gap: 70px;
        grid-column-gap:10px;
        justify-content: center;
        padding-top: 20px;
    }
}
@media screen and (min-width: 768px) {
    .cards-div{
        display: flex;
        overflow-y: scroll;
    }
    .cart-btn{
        font-size: 14px;
    }
    .best-deal-section{
        padding-left:30px;
    }
    .deal-card{
        background:whitesmoke;
        padding-top:15px;
        padding-right:15px;
    }
    .detail-flex-div{
        display: flex;
    }
}
@media screen and (min-width: 1440px){
    .best-deal-section{
        padding-left: 40px;
    }
}