@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Work+Sans:wght@400;500&family=Outfit:wght@500&display=swap');

.zoom{
    position: relative;
    overflow:hidden;
}
.category-image{
    display: block;
    transition:transform 0.5s ease;
    width: 165px;
    border-radius: 12px;
}
.category-image:hover.category-image{
    transform: scale(1.1);
}
.category-title{
    font-family:Work sans ;
    padding: 60px 0px 20px 20px;
    font-weight: bolder;
}
@media screen and (max-width:600px){
    .category-div{
        display: grid;
        grid-template-columns: auto auto;
        padding-left: 8px;
    }
    .category-card{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .category-text{
        position: relative;
        bottom: 193px;
        color: white;
        font-family: Work sans;
        font-weight: 400;
        font-size: 17px;
        padding-left:40px;
        padding-right:40px;
    }
}
@media screen and (min-width:768px){
    .categories-section{
        padding-left: 10px;
        padding-right: 10px;
    }
    .category-div{
        display: grid;
        grid-template-columns: auto auto;
    }
    .category-card{
        display: flex;
        flex-direction: column;
        text-align: center;
        height:400px;
    }
    .category-text{
        position: relative;
        bottom: 270px;
        color: white;
        font-family: Work sans;
        font-weight: 400;
        font-size:30px;
    }
    .category-image{
        width: 330px;
        border-radius:0;
    }
}
@media screen and (min-width: 1024px){
    .category-div{
        display: flex;
        justify-content: space-around;
    }
    .category-image{
        width:200px;
    }
    .category-text{
        position: relative;
        bottom: 190px;
    }
}
@media screen and (min-width:1280px){
    .category-image{
        width:300px;
    }
}