@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');

.today-title{
    font-family: Work Sans;
    padding-bottom: 20px;
}
.today-item{
    border: 2px solid #c5c5c5;
    border-radius: 23px;
    padding:13px 20px 13px 20px;
    font-size:15px;
     font-family: Work Sans;
     font-weight: 500;
     text-align: center;
     cursor: pointer;
}
.today-deal-cards{
    
}
.todays-deal-img{
   
}
.todays-deal-card{
   display:flex;
   flex-direction: column;
   align-items: center; 
   padding-top:20px;
}
.product-title-two{
    font-family:Work sans;
    font-size: 17px;
}
.product-title-one{
    font-family:Work sans;
    font-size: 17px;
    display: -webkit-box;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}
.specifications-desc-two{
    font-family: Work sans;
    font-weight: lighter;
    padding-top: 15px;
}
.specifications-desc-one{
    font-family: Work sans;
    font-weight: lighter;
    padding-top: 15px;
    display: -webkit-box;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
 } /* this can be any value you want */
@media screen and (max-width:600px){
    .today-section{
        padding: 35px 20px 35px 20px;
    }
    .today-category-list{
        display:grid;
        grid-template-columns: auto auto auto;
        grid-column-gap: 8px;
        grid-row-gap:12px;
    }
    .today-deal-cards{
       display: flex;
       overflow:scroll;
    }
    .todays-deal-card{
       padding-left:25px;
       max-height:400px;
    }
    .todays-deal-img{
        width:150px;
        height:150px;
        object-fit:contain;
    }
}
@media screen and (min-width:768px){
    .today-title{
        padding-bottom: 27px;
    }
    .today-section{
        padding: 60px 35px 60px 35px;
    }
    .today-category-list{
        display: flex;
        justify-content: space-between;
        width:70%;
    }
    .today-deal-cards{
        display:grid;
        grid-template-columns:auto auto;
        grid-row-gap: 20px;
    }
    .todays-deal-img{
        width:150px;
        height:150px;
        object-fit:contain;
    }
    .todays-deal-card{
        padding-left:25px;
        max-height:400px;
    }
}
@media screen and (min-width: 1024px){
    .today-title{
        padding-bottom: 30px;
    }
    .today-section{
        padding: 60px 40px 60px 40px;
    }
    .today-category-list{
        width:49%;
    } 
}
@media screen and (min-width: 1440px){
    .today-title{
        padding-bottom: 30px;
    }
    .today-section{
        
    }
    .today-category-list{
        width:37%;
    } 
    .today-deal-cards{
        grid-column-gap: 30px;
    }
}