@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
.price-section{
    padding:50px 5px 0px 5px;
}
.section-title{
    padding-left:25px;
}
.price-cards-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
}
.price-card{
    background-color:#f9dcdc;
    border-radius: 12px;
    margin-bottom: 0;
    margin-bottom: 20px;
}
.text-div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:start;
    padding: 20px;
    height: 150px;
}
.save{
    font-family: 'Inter', sans-serif;
    font-size: 21px;
    color: #333;
}
.price-div{
    display: flex;
    align-self:start;
    color:#961f1f;
}
.dollar-sign{
    font-size:25px;
    font-weight: 900;
}
.price-num{
    font-size: 39px;
    font-weight: 800;
}
.paragraph{
    font-family: 'Inter';
}
.price-img-div{
    background-image: url('https://assets-global.website-files.com/63e857eaeaf853471d5335ff/63e8c4e6cd367817e964f756_sofa-min.png');
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    height:210px;
}
@media screen and (min-width:768px){
    .price-cards-div{
        display:grid;
        grid-template-columns:auto auto;
        grid-column-gap:25px;
        padding-top:20px;
    }
}
@media screen and (min-width:1024px){
    .price-cards-div{
       display:flex;
       flex-direction:row;
    }
}