@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.footer{
    color:#231f1e;
    padding:20px 20px 20px 20px;
}
.footer-div-one{

}
.footer-image{
    padding-bottom: 10px;
}
.footer-paragraph{
    font-family: Poppins;
    padding-bottom: 40px;
}
.footer-link-title{
    font-family:Work Sans;
    font-weight: bold;
    padding-bottom: 20px;
    font-size:18px;
}
.footer-list-items{
    display: flex;
    flex-direction: column;
    height:180px;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 18px;
}
.footer a{
    font-family: Poppins;
   text-decoration: none;
   
}
.footer-list a li{
   list-style: none;
   color:#231f1e;
   font-size: 13px;
}
.footer-list li{
    list-style: none;
}
@media screen and (max-width:550px){
    .footer-list{
        display: grid;
        grid-template-columns: auto auto;
    }
}
